1. Tuple creation

In [1]:
a = (1, 2, 3, 4, 5)
print(a)

(1, 2, 3, 4, 5)

2. Tuple access element of a tuple

In [2]:
a = (1, 2, 3, 4, 5)
print(a[2])

3

3. Tuple slicing

In [3]:
a = (1, 2, 3, 4, 5)
print(a[1:3])

(2, 3)

4. Tuple unpacking

In [4]:
a = (1, 2, 3, 4, 5)
b, c, d, e, f = a
print(b)

1

5. Tuple length

In [5]:
a = (1, 2, 3, 4, 5)
print(len(a))

5

6. Tuple count of element

In [6]:
a = (1, 2, 3, 4, 5, 4)
print(a.count(4))

2

7. Tuple index of element

In [10]:
a = (1, 2, 3, 4, 5)
print(a.index(4))

3

8. Tuple membership

In [9]:
a = (1, 2, 3, 4, 5)
print(4 in a)

True

9. Tuple concatenation

In [8]:
a = (1, 2, 3, 4, 5)
b = (6, 7, 8)
print(a + b)

(1, 2, 3, 4, 5, 6, 7, 8)

10. Tuple repetition

In [12]:
a = (1, 2, 3, 4, 5)
print(a * 2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

11. Tuple min, max element

In [11]:
a = (1, 2, 3, 4, 5)
print(min(a), max(a))

1 5

12. Tuple convert list to tuple

In [14]:
a = [1, 2, 3, 4, 5]
print(tuple(a))

(1, 2, 3, 4, 5)

13. Tuple convert string to tuple

In [13]:
a = '12345'
print(tuple(a))

('1', '2', '3', '4', '5')

14. Tuple convert set to tuple

In [15]:
a = {1, 2, 3, 4, 5}
print(tuple(a))

(1, 2, 3, 4, 5)

15. Tuple convert dict to tuple

In [16]:
a = {1: 'one', 2: 'two', 3: 'three'}
print(tuple(a))

(1, 2, 3)

16. Tuple convert tuple to tuple

In [17]:
a = (1, 2, 3, 4, 5)
print(tuple(a))

(1, 2, 3, 4, 5)

17. Tuple convert range to tuple

In [18]:
a = range(5)
print(tuple(a))

(0, 1, 2, 3, 4)

18. Tuple convert bytes to tuple

In [19]:
a = b'12345'
print(tuple(a))

(49, 50, 51, 52, 53)

19. Tuple convert bytearray to tuple

In [20]:
a = bytearray(b'12345')
print(tuple(a))

(49, 50, 51, 52, 53)

20. Tuple convert memoryview to tuple

In [25]:
a = memoryview(b'12345')
print(tuple(a))

(49, 50, 51, 52, 53)